/*Начало. Блок с метадатой*/
.result-metadata-block{
  color: var(--text);
  padding: 0px 12px;
  border: 1px solid var(--borders);
  border-radius: 12px;
  background-color: var(--results_bg);
  line-height: 2em;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

textarea:focus {
  outline: none;
  background-color: var(--borders);
}
textarea {
  background-color: var(--results_bg);
  color: var(--text);

  transition: background-color 0.5s;
}

textarea::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
/*Конец. Блок с метадатой*/