
.avatar {
  width: 15vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 3px solid var(--borders);
  object-fit: cover;

  /*Для поддержки старыми браузерами*/
  height: 15vw;
  max-width: 100px;
  max-height: 100px;
}

/*Начало. Блок с главной информацией*/
.result-info-block {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  gap: 5px;
}
.username {
	font-weight: bold;
  font-size: larger;
}
/*Конец. Блок с главной информацией*/

/*Начало. Блок с секретной информацией*/
textarea[class="mail"] {
  color: var(--text);
  overflow-y: auto;
  width: 80%;
  resize:none;
  flex: 1;
  padding: 0px 12px;
  border: 1px solid var(--borders);
  border-radius: 12px;
  background-color: var(--results_bg);
  line-height: 2em;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
input[class="ip"] {
  width: 110px;
}
details {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 12px;
  transition: background-color 0.5s ease;
}
details[open] {
  background-color: var(--main_bg);
}

.confident-content {
  padding: 2px;
}

summary {
  width: 300px;
  text-align: center;
	cursor: pointer;
	display: block;
	position: relative;
  border: 1px solid var(--borders);
  border-radius: 12px;
  padding: 2px;

  transition: background-color 0.1s;
}
summary::-webkit-details-marker {
	display: none;
}
summary::marker {
	content: "";
}
summary:active {
  background-color: var(--borders);
}
/*Конец. Блок с секретной информацией*/

/*Начало. Блок с inputbox*/
input:focus {
  outline: none;
  background-color: var(--borders);
}

input {
  background-color: var(--results_bg);
  color: var(--text);
  width: auto;
  border: 1px solid var(--borders);
  border-radius: 12px;

  transition: background-color 0.5s;
}
input[class="username"] {
  width: 50%;
}
input[class="penalty"] {
  width: 25px;
}
input[class="cost"] {
  width: 60px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*Конец. Блок с inputbox*/

/*Начало. Блок с select*/
select {
  text-align: center;
  background-color: var(--results_bg);
  color: var(--text);
  border: 1px solid var(--borders);
  border-radius: 12px;
  padding: 2px;
  appearance: none;
  
  transition: background-color 0.1s;
}
select:focus {
  outline: none;
}
select:active {
  background-color: var(--borders);
}
option{
  padding: 2px;
  background-color: var(--results_bg);
  color: var(--text);
}
option:active  {
  background-color: var(--borders);
}
/*Конец. Блок с select*/